/* src/Accordion.css */
.accordion-container {
  border: 1px solid #ddd;
  border-radius: 15px;
  margin-bottom: 20px;
  background-color: #fff;
}

.accordion-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 15px 20px;
  background-color: transparent;
  border: none;
  cursor: pointer;
  text-align: left;
}

.accordion-header h3 {
  margin: 0;
  color: var(--primary-green);
  font-family: var(--font-header);
}

.accordion-content {
  padding: 0 20px 20px 20px;
  border-top: 1px solid #eee;
}