/* src/styles.css */

/* -- 2. Grundstilar -- */
body {
  margin: 0;
  font-family: var(--font-body);
  background-color: var(--light-green-bg); /* Behåll denna */
  color: var(--dark-text);
  
  /* Raderna för background-image och background-repeat är nu borttagna */
}